
    body {
      font-family: Arial, sans-serif;
      background-color: antiquewhite;
    }
    
    h1 {
      text-align: center;
    }
    
    form {
      width: 50%;
      margin: 0 auto;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }